/build/
/config/
/dist/
/*.js
/src/util
/src/stage1
/src/stage2
/src/stage3
/src/stage4
/src/stage5
/src/stage6
/src/stage7
/src/stage8
/src/stage9
/src/stage10
/src/stage11
/src/stage12
/src/stageX
/src/stage-demo